:root{
--primaryDarkColor: #2d2d2d;
--primaryColor: #3b3b3b;
--accentColor: #ffd313;
--lightColor: #e8e8e8;
--lightColorHover: #a8a8a8;
--testColor: #800080;
--testColor2: red;
--signUpBkgImg: image(images);
}

.akBtnItemDiscrete{
    background-color: var(--primaryColor);
    border: none;
}

.akBtnItemDiscreteBkgLight{
    background-color: var(--lightColor);
    border: none;
}

.akFlexInline{
    
}

.akItemObjectFit{
    width:100%;
    height:100%;
    object-fit: contain;
}

/*
.testing{
    background-image: url("images/wireframe512.png");
    object-fit: cover;
    background-size: contain;
    background-position: center;
}
*/

.akBtnItemDiscrete:active{
/*    background-color: red;*/
    outline: none;
/*    outline used to remove btn border after click*/
}

/*
.akBtnItemDiscrete:focus{
    background-color: red;
    border: none;
    outline: none;
    
}
*/

button:focus, input[type="button"]:focus {
    outline: none;
}

.akBtnAccentHover{
    background-color: var(--colorAccent);
}
.akBtnAccentHover:hover{
    background-color: var(--colorAccent);
}

.akSignUpBkg{
    background-image: url("images/Hero/userAccBkg.png");
    background-size: cover;
    height: 1000px;
    background-position: center;
}

.akLoginBkg{
    background-image: url("images/Hero/userAccBkg.png");
    background-size: cover;
    height: 1000px;
    background-position: center;
}

.akBkgAccent{
    background-color: var(--accentColor);
}


.akBkgTest {
    background-color: var(--testColor);
}

.akBkgTest2 {
    background-color: var(--testColor2);
}

.akTextTest {
    color: var(--testColor);
}


.akBkgNav {
  background-color: var(--primaryDarkColor);
}

.akBkgPrimary {
    background-color: var(--primaryColor);
}

.akBkgLight{
    background-color: var(--lightColor);
}

.akTextLight{
    color: var(--lightColor);
    text-decoration: none;
    
}

.akTextPrimary{
    color: var(--primaryColor);
}

.akProductTitleText{
    font-size: 1px;
}

.akTextLightHover{
    color: var(--lightColor);
    
}

.akTextLightHover:hover{
    color: var(--lightColorHover);
    text-decoration: none;
}

/*
.akTextLightHover:active{
    text-decoration: none;
    color: var(--lightColorHover);
}
*/



.akTextAccent{
    color: var(--accentColor);
}

.akListStyleNone{
    list-style: none;
}


.akPaddingLeft10{
    padding-left: 10px;
}

.akPaddingLeft20{
    padding-left: 20px;
    
}

.akPaddingLeft40{
    padding-left: 40px;
}

.akPaddingLeft80{
    padding-left: 80px;
}

.akPaddingRight10{
    padding-Right: 10px;
}

.akPaddingRight20{
    padding-Right: 20px;
}

.akPaddingRight40{
    padding-Right: 40px;
}

.akPaddingRight80{
    padding-Right: 80px;
}

.akPaddingTop5{
    padding-Top: 5px;
}

.akPaddingTop10{
    padding-Top: 10px;
}

.akPaddingTop15{
    padding-Top: 15px;
}

.akPaddingTop17{
    padding-Top: 17px;
}

.akPaddingTop20{
    padding-Top: 20px;
}

.akPaddingTop40{
    padding-Top: 40px;
}

.akPaddingTop80{
    padding-Top: 80px;
}

.akPaddingBottom10{
    padding-Bottom: 10px;
}

.akPaddingBottom15{
    padding-Bottom: 15px;
}

.akPaddingBottom17{
    padding-Bottom: 17px;
}

.akPaddingBottom20{
    padding-Bottom: 20px;
}

.akPaddingBottom40{
    padding-Bottom: 40px;
}

.akPaddingBottom80{
    padding-Bottom: 80px;
}


.akPanelPadding{
    padding: 10px;
}

.akPanelRadius{
    border-radius: 15px;
}

.akBorder2Accent{
    border-color: var(--accentColor);
    border-style: solid;
    border-width: 2px;
}

.akBorder1Accent{
    border-color: var(--accentColor);
    border-style: solid;
    border-width: 1px;
}

.akBorder3Accent{
    border-color: var(--accentColor);
    border-style: solid;
    border-width: 3px;
}

.akBorderRadius5{
    border-radius: 5px;
}

.akBorderRadius10{
    border-radius: 10px;
}

.akBorderRadius15{
    border-radius: 15px;
}

.akBorderRadius20{
    border-radius: 20px;
}


.akTopRadius{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.akBottomRadius{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.akRow{
    display:flex;
    flex-direction: row;
}

.akHeight80{    
    height: 80px;
}

.akHeight100{
    height: 100px;
}

.akHeight200{
    height: 200px;
}

.akHeight300{
    height: 300px;
}

.akHeight400{
    height: 400px;
}

.akHeight500{
    height: 500px;
}

.akHeight600{
    height: 600px;
}

.akMinHeight10{
    min-height: 10px;
}

.akMinHeight15{
    min-height: 15px;
}

.akMinHeight20{
    min-height: 20px;
}

.akMinHeight25{
    min-height: 25px;
}

.akMinHeight50{
    min-height: 50px;
}

.akMinHeight100{
    min-height: 100px;
}

.akMinHeight150{
    min-height: 150px;
}

.akMinHeight200{
    min-height: 200px;
}

.akMinHeight250{
    min-height: 250px;
}

.akMinHeight300{
    min-height: 300px;
}

.akMinHeight350{
    min-height: 350px;
}

.akMinHeight400{
    min-height: 400px;
}

.akMinHeight450{
    min-height: 450px;
}

.akMinHeight500{
    min-height: 500px;
}

.akMinHeight550{
    min-height: 550px;
}

.akMinHeight600{
    min-height: 600px;
}

.akObjectContain{
    object-fit: contain;
}

.akMaxHeight50{
    max-height: 50px;
}

.akMaxHeight100{
    max-height: 100px;
}

.akMaxHeight150{
    max-height: 150px;
}

.akMaxHeight200{
    max-height: 200px;
}

.akMaxHeight600{
    max-height: 600px;
}

.akMaxHeight250{
    max-height: 250px;
}

.akMaxWidth50{
    max-width: 50px;
}

.akMaxWidth100{
    max-width: 100px;
}

.akMaxWidth150{
    max-width: 150px;
}

.akMaxWidth200{
    max-width: 200px;
}

.akMaxWidth250{
    max-width: 250px;
}

.akMaxWidth400{
    max-width: 400px;
}

.akMinWidth10{
    min-Width: 10px;
}

.akMinWidth15{
    min-Width: 15px;
}

.akMinWidth20{
    min-Width: 20px;
}

.akMinWidth25{
    min-Width: 25px;
}

.akMinWidth30{
    min-Width: 30px;
}

.akMinWidth35{
    min-Width: 35px;
}

.akMinWidth40{
    min-Width: 40px;
}

.akMinWidth50{
    min-Width: 50px;
}

.akMinWidth100{
    min-Width: 100px;
}

.akMaxWidth10{
    Max-Width: 10px;
}

.akMaxWidth15{
    Max-Width: 15px;
}

.akMaxWidth20{
    Max-Width: 20px;
}

.akMaxWidth25{
    Max-Width: 25px;
}

.akMaxWidth30{
    Max-Width: 30px;
}

.akMaxWidth40{
    Max-Width: 40px;
}

.akMaxWidth50{
    Max-Width: 50px;
}


.akBorderRadius0{
    border-radius: 0px;
}

.akPadding10{
    padding: 10px;
}

.akPadding15{
    padding: 15px;
}

.akPadding20{
    padding: 20px;
}

.akPaddingLeft10{
    padding-left: 10px;
}

.akPaddingLeft15{
    padding-left: 15px;
}

.akPaddingLeft20{
    padding-left: 20px;
}

.akPaddingBottom10{
    padding-bottom: 10px;
}

.akBold{
    font-weight: bold;
}

.akMarginLeft10{
    margin-left: 10px;
}

.akMarginLeft20{
    margin-left: 20px;
}

.akMarginLeft30{
    margin-left: 30px;
}

.akMarginLeft40{
    margin-left: 40px;
}

.akMarginLeft50{
    margin-left: 50px;
}

.akMarginLeft100{
    margin-left: 100px;
}

.akMarginLeft200{
    margin-left: 200px;
}


.akFlex{
    display: flex;
    flex-direction: column;
}

.akFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}


.akFlexColCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.akAlignJustifyCenter{
    align-items: center;
    justify-content: center;
}

.akAlignCenter{
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.akMinWidth400{
    min-width: 400px;
}

.akMarginRight40p{
    margin-right: 40%;
}

.akMarginLeft40p{
    margin-left: 40%;
}


.akMargin10{
    margin: 10px;
}

.akMargin20{
    margin: 20px;
}

.akImgCover{
    object-fit: cover;
}
